body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Russo One';
  src: local('Russo One'),
  url('./fonts/RussoOne-Regular.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Original Surfer';
  src: local('Original Surfer'),
  url('./fonts/OriginalSurfer-Regular.ttf') format('truetype');
  font-weight: bold;
}

p {
  margin: 0;
}